name: 'Build and Push to GCP'

on:
  push:
    branches:
      - 'master'
  pull_request:
    branches:
      - 'master'

permissions:
  id-token: 'write'
  contents: 'read'

env:
  GCP_REGION: 'us-east1'
  GAR_LOCATION: 'us-east1'
  SERVICE_NAME: 'slopify-backend'
  PROJECT_ID: 'molten-snowfall-482111-s4'
  GAR_REPO: 'quickstart-docker-repo'
  IMAGE_REGISTRY: 'us-east1-docker.pkg.dev'
  SKAFFOLD_FILE: 'config/skaffold.yaml'

jobs:
  build-and-push:
    runs-on: 'ubuntu-latest'
    environment: 'production'
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: 'Checkout code'
        uses: 'actions/checkout@v4'

      - name: 'Set image name'
        run: |-
          echo "IMAGE_NAME=${{ env.IMAGE_REGISTRY }}/${{ env.PROJECT_ID }}/${{ env.GAR_REPO }}/${{ env.SERVICE_NAME }}:${{ github.sha }}" >> ${GITHUB_ENV}

      - name: 'Authenticate to Google Cloud'
        id: 'auth'
        uses: 'google-github-actions/auth@v2'
        with:
          workload_identity_provider: '${{ secrets.WIF_PROVIDER }}'
          service_account: '${{ secrets.WIF_SERVICE_ACCOUNT }}'

      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v2'

      - name: 'Configure Docker to use gcloud as a credential helper'
        run: |
          gcloud auth configure-docker "${{ env.IMAGE_REGISTRY }}"

      - name: 'Set up Docker Buildx'
        uses: 'docker/setup-buildx-action@v3'

      - name: 'Build and push container'
        run: |-
          docker build -t "${{ env.IMAGE_NAME }}" .
          docker push "${{ env.IMAGE_NAME }}"

      - name: 'Create release name'
        run: |-
          echo "RELEASE_NAME=${{ env.SERVICE_NAME }}-${GITHUB_SHA::7}-${GITHUB_RUN_NUMBER}" >> ${GITHUB_ENV}

      - name: 'Create Cloud Deploy release'
        uses: 'google-github-actions/create-cloud-deploy-release@v0'
        with:
          delivery_pipeline: '${{ env.SERVICE_NAME }}'
          name: '${{ env.RELEASE_NAME }}'
          region: '${{ env.GCP_REGION }}'
          description: 'Release ${{ github.sha }}'
          skaffold_file: '${{ env.SKAFFOLD_FILE }}'
          images: 'app=${{ env.IMAGE_NAME }}'
